.header{
    display: flex;
    border-bottom: 3px solid black;
    margin-bottom: 4px;
    margin-left: 50px;
    margin-top: 15px;
    justify-content: center;
    font-family: 'Dancing Script', cursive;
}