#page-container {
 width: 100%;
 height: 100%;
 margin: 0px;
 padding: 0px;
 display: flex;
 flex-direction: column;
}
#content-container {
 margin: 0px;
 padding: 0px;
 width: 100%;
 flex: 1 1 auto;
 display: flex;
 flex-direction: row;
}

/*Nav bar*/
#nav-bar {
 background-color: #252352;
 margin: 0px;
 padding: 0px;
 height: 50px;
 flex: 0 0 50px;
 display: flex;
 justify-content: right;
}
/*#save-button {*/
/* background-color: #075da8;*/
/* !*padding: 5px;*!*/
/* flex: 0 0 50px;*/
/* position: relative;*/
/*}*/
/*#load-button {*/
/* background-color: #c41902;*/
/* !*padding: 5px;*!*/
/* flex: 0 0 50px;*/
/* position: relative;*/
/*}*/
#logo-container {
 flex: 1 1 200px;
 color: aliceblue;
}
#logo-text {
 margin: 5px 5px 5px 10px;
}

/*Side pane*/
#side-pane {
 background-color: #cfc4c2;
 display: flex;
 height: calc(100vh - 50px);
 flex: 0 0 350px;
 margin: 0px;
 padding: 0px;
}

.sidebar-divider {
 width: 310px;
 margin: 5px 20px 0px 20px;
 border: 1px solid #424242;
}
.sidebar-title {
 color: #252352;
 font-size: 24px;
 text-align: left;
 margin: 10px 0px 0px 20px;
}

/*Graph pane*/
#graph-pane {
 background-color: rgb(255, 255, 255);
 /*display: inline;*/
 height: calc(100vh - 50px);
 flex: 1 1 500px;
 flex-basis: calc(100vw - 350px);
 padding: 0px;
 margin: 0px;
 box-shadow: inset 15px 15px 12px 0px rgba(59,59,59,0.12);
}

/*Container for the save and load graph buttons to position them in the nav bar*/
#graph-button-container {
 position: absolute;
 top: 0px;
 display: inline-flex;
 right: 0px;
 z-index: 1;
}

#graph-save-button {
 position: absolute;
 top: 0px;
 right: 70px;
 height: 50px;
 border: 0px;
 background-color: #075da8;
 color: aliceblue;
 width: 70px;
}

#graph-load-button {
 position: absolute;
 top: 0px;
 right: 0px;
 height: 50px;
 border: 0px;
 background-color: #c41902;
 color: aliceblue;
 width: 70px;
}

#graph-new-button {
 position: absolute;
 top: 0px;
 right: 140px;
 height: 50px;
 border: 0px;
 background-color: #0ea12c;
 color: aliceblue;
 width: 70px;
}

#graph-load-button:hover, #graph-save-button:hover, #graph-new-button:hover {
 box-shadow: inset 0px 0px 44px -15px rgba(0,0,0,0.75);
}

/*Styles for the modal menus that appear when using the save/load buttons*/
#save-modal, #load-modal {
 background-color: aliceblue;
 /*color: aliceblue;*/
 position: absolute;
 top: 60px;
 right: 10px;
 padding: 20px;
}

#load-modal {
 border: 4px solid #c41902;
}

#save-modal {
 border: 4px solid #075da8;
}

.modal-close {
 color: #252352;
 position: absolute;
 top: 5px;
 right: 5px;
 width: 30px;
 height: 30px;
 border-radius: 15px;
 border: 2px solid #252352;
 background-color: rgba(0,0,0,0);
}

.modal-close:hover {
 background-color: #252352;
 color: aliceblue;
}

#modal-save-button {
 background-color: rgba(0,0,0,0);
 border: 2px solid #075da8;
 width: 90%;
 margin-left: 5%;
 margin-top: 10px;
 height: 30px;
}

#modal-save-button:hover {
 background-color: #075da8;
 color: aliceblue;
}

#modal-load-button {
 background-color: rgba(0,0,0,0);
 border: 2px solid #c41902;
 width: 90%;
 margin-left: 5%;
 margin-top: 10px;
 height: 30px;
}

#modal-load-button:hover {
 background-color: #c41902;
 color: aliceblue;
}

